<!DOCTYPE html>
<html>
  <head>
    <title>THUNDER DOOM</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://cdn.socket.io/socket.io-1.2.0.js'></script>
    <script src='/javascripts/canvas.js'></script>
    <script src='/javascripts/client.js'></script>
  </head>
  <body>
  	<canvas id = "background" width="800" height="600">
  	</canvas>
  	<canvas id = "foreground" width="800" height="600">
  	</canvas>
  	<canvas id = "cursor" width="800" height="600">
  	</canvas>
    <form id="wizardInfo" style="position:absolute;left:850px;">
      <input type="text" name="name" placeholder="Enter your badass wizard name">
      <select name="color" value="Choose a color">
        <option value="blue">Blue</option>
        <option value="black">Black</option>
        <option value="green">Green</option>
        <input type="submit" name="submit" value="FIGHT">
      </select>
    </form>
  </body>
</html>
