<!DOCTYPE html>
<html>
  <head>
    <title>THUNDER DOOM</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://cdn.socket.io/socket.io-1.2.0.js'></script>
    <script src='/javascripts/canvas.js'></script>
    <script src='/javascripts/client.js'></script>
  </head>
  <body>
  	<canvas id = "background" width="800" height="600">
  	</canvas>
  	<canvas id = "foreground" width="800" height="600">
  	</canvas>
  	<canvas id = "cursor" width="800" height="600">
  	</canvas>
  </body>
</html>
